{{ partial "header_post.html" . }}
{{ $baseurl := .Site.BaseURL }}

<header class="main-header no-cover">
    {{ partial "navigation.html" . }}
</header>

<main id="content" class="content" role="main">
    
    <h1 class="post-title"><center><font color=#3e3e3e>
        {{ if eq 1 (len .Data.Pages) }}
            1 Post
        {{ else }}
            {{ len .Data.Pages }} Posts 
        {{ end }} 
        with {{ .Data.Singular | title }} : <i>{{ .Title }}</i>
    </font></center></h1>
   

    {{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>
	
	{{ range $index, $page := $paginator.Pages }}
	   {{ .Render "li" }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}
